* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header,
section,
footer {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;

  nav {
    padding: 20.4px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease-in 0.3s;
    position: relative;

    img {
      max-height: 35px;

      @media screen and (max-width: 355px) {
        max-height: 31px;
      }
    }

    ul {
      display: flex;

      a {
        text-decoration: none;
        margin: 13px 20px;
        color: #4e4e4e;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;

        li {
          list-style-type: none;
        }
      }

      a:last-child {
        margin: 10px 0 8px 30px;
        background-color: #282828;
        color: white;
        font-size: 10px;
        font-weight: 500;
        padding: 2px 17px 0px;
        height: 25px;
      }

      a:last-child:hover {
        background-color: #535353;
      }

      @media screen and (max-width: 1005px) {
        flex-direction: column;
        position: absolute;
        top: 81.6px;
        left: 0;
        width: 100%;
        padding: 25px 10px;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;

        a {
          margin: 0 15px;
          padding: 12px 0 11px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          color: white;
        }

        a:last-child {
          margin: 12px 15px 11px;
          padding: 6px 20px;
          height: 32px;
          width: 99.2px;
          border-bottom: none;
        }

        a:nth-child(6) {
          border-bottom: none;
        }
      }

      @media screen and (max-width: 768px) {
        top: 63.6px;
      }
    }

    ul.open {
      @media screen and (max-width: 1005px) {
        display: flex;
      }
    }

    button {
      display: none;

      @media screen and (max-width: 1005px) {
        display: block;
        background-color: black;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 9px 10px;
        border: none;
        outline: none;

        span {
          height: 2px;
          width: 22px;
          display: block;
          background-color: white;
        }
      }
    }

    @media screen and (max-width: 1005px) {
      padding: 21.3px 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 12.3px 15px;
    }

    @media screen and (max-width: 355px) {
      padding: 14.3px 15px;
    }
  }

  nav.scroll {
    background-color: white;
    padding: 11.8px 40px;

    @media screen and (max-width: 1005px) {
      padding: 12.7px 40px;

      ul {
        top: 64.4px;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 12.7px 15px;
    }

    @media screen and (max-width: 355px) {
      padding: 14.7px 15px;
    }
  }
}

#home {
  height: 985px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image ease-in-out 1s;

  > div {
    height: 100%;
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;

    > div:first-child {
      width: 550px;
      padding: 40px 55px;
      border: 5px solid rgba(71, 46, 131, 0.3);

      h2 {
        margin-bottom: 34.425px;
        line-height: 70px;
        font-weight: 700;
        color: #473d5f;
        font-size: 70px;
      }

      a {
        font-size: 13px;
        color: white;
        background-color: #473d5f;
        padding: 11px 25px;
        line-height: 18px;
        font-weight: 600;
        text-decoration: none;
      }

      a:hover {
        background-color: #78718b;
      }
    }

    > div:last-child {
      position: absolute;
      bottom: 35px;
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 10px;

      span {
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 100%;
        cursor: pointer;
      }

      span.active {
        background-color: black;
        border: 2px solid rgba(0, 0, 0, 0.8);
      }
    }

    @media screen and (max-width: 1200px) {
      width: 940px;
    }

    @media screen and (max-width: 1005px) {
      width: 720px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;

      > div:first-child {
        width: 450px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;

        h2 {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 22.8px;
        }

        a {
          padding: 10px 20px;
          font-size: 11px;
          display: inline-block;
          line-height: 15px;
        }
      }
    }

    @media screen and (max-width: 480px) {
      > div:first-child {
        width: 100%;
        margin: 0 15px;

        h2 {
          margin-bottom: 6%;
        }
      }

      > div:last-child {
        bottom: 25px;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    height: 800px;
  }

  @media screen and (max-width: 768px) {
    height: 500px;
  }
}

#home.hero-one {
  background-image: url("../../images/travel-slider-01.jpg");
}

#home.hero-two {
  background-image: url("../../images/travel-slider-02.jpg");
}

#home.hero-three {
  background-image: url("../../images/travel-slider-03.jpg");
}

main {
  > section:nth-child(1) {
    padding: 50px 0;

    > div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1190px;
      margin: 0 auto;
      gap: 30px;

      > div {
        width: 33.3%;
        display: flex;
        align-items: center;

        > div:nth-child(1) {
          span {
            font-size: 45px;
            line-height: 50px;
            color: #e74948;
            padding-right: 20px;
          }
        }

        > div:nth-child(2) {
          span {
            color: #848484;
            font-size: 14px;
            line-height: 24px;
          }

          h3 {
            color: #282828;
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
          }
        }
      }
    }
  }

  > section:nth-child(2) {
    > div {
      padding: 0 15px;
      display: flex;
      gap: 30px;
      width: 100%;

      a {
        width: 33.3%;

        img {
          width: 100%;
        }
      }
    }
  }

  > section:nth-child(3) {
    padding: 110px 0;

    h2 {
      text-align: center;
      color: #282828;
      font-size: 35px;
      line-height: 39px;
      font-weight: 700;
      margin-bottom: 3%;
    }

    > div {
      width: 1190px;
      display: flex;
      margin: 0 auto;
      gap: 30px;

      > div {
        width: 25%;
        text-align: center;

        > a:nth-child(1) {
          width: 100%;

          img {
            width: 100%;
            margin-bottom: 12%;
          }
        }

        > a:nth-child(2) {
            color: black;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            text-decoration: none
        }

        > div:nth-child(3) {
            color: #848484;
            font-size: 12px;
            line-height: 20px;
        }

        > div:nth-child(4) {
            color: #e7403a;
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;
            margin-bottom: 5.5%;
        }

        > a:nth-child(5) {
            font-size: 11px;
            line-height: 18px;
            padding: 7.4px 15.325px;
            font-weight: 600;
            text-decoration: none;
            color: white;
            background-color: #686868;
            border-radius: 4px;
        }

        > a:nth-child(5):hover {
            background-color: #959595;
        }
      }
    }
  }
}
